@media only screen and (min-width: 961px) {
	.container {
		display: grid;
		gap: 10px 10px;
		grid-template-areas:
		'mi01 ma01 mi02 ma02 mi03 ma03'
		'mi04 ma04 mi05 ma05 mi06 ma06'
		'mi07 ma07 mi08 ma08 ma09 ma10';
	}
}
@media only screen and (max-width: 960px) and (min-width: 481px) {
	.container {
		display: grid;
		gap: 10px 10px;
		grid-template-areas:
		'mi01 ma01 mi02'
		'ma02 mi03 ma03'
		'mi04 ma04 mi05'
		'ma05 mi06 ma06'
		'mi07 ma07 mi08'
		'ma08 ma09 ma10';
	}
}
@media only screen and (max-width: 480px) {
	.container {
		display: grid;
		gap: 10px 10px;
		grid-template-areas:
		'mi01'
		'ma01'
		'mi02'
		'ma02'
		'mi03'
		'ma03'
		'mi04'
		'ma04'
		'mi05'
		'ma05'
		'mi06'
		'ma06'
		'mi07'
		'ma07'
		'mi08'
		'ma08'
		'ma09'
		'ma10';
	}
}
.macro_01 {
	grid-area: ma01;
	transition: 0.5s;
}
.macro_01:hover {
	transform: scale(1.1);
}
.macro_02 {
	grid-area: ma02;
	transition: 0.5s;
}
.macro_02:hover {
	transform: scale(1.1);
}
.macro_03 {
	grid-area: ma03;
	transition: 0.5s;
}
.macro_03:hover {
	transform: scale(1.1);
}
.macro_04 {
	grid-area: ma04;
	transition: 0.5s;
}
.macro_04:hover {
	transform: scale(1.1);
}
.macro_05 {
	grid-area: ma05;
	transition: 0.5s;
}
.macro_05:hover {
	transform: scale(1.1);
}
.macro_06 {
	grid-area: ma06;
	transition: 0.5s;
}
.macro_06:hover {
	transform: scale(1.1);
}
.macro_07 {
	grid-area: ma07;
	transition: 0.5s;
}
.macro_07:hover {
	transform: scale(1.1);
}
.macro_08 {
	grid-area: ma08;
	transition: 0.5s;
}
.macro_08:hover {
	transform: scale(1.1);
}
.macro_09 {
	grid-area: ma09;
	transition: 0.5s;
}
.macro_09:hover {
	transform: scale(1.1);
}
.macro_10 {
	grid-area: ma10;
	transition: 0.5s;
}
.macro_10:hover {
	transform: scale(1.1);
}
.micro_01 {
	grid-area: mi01;
	transition: 0.5s;
}
.micro_01:hover {
	transform: scale(1.1);
}
.micro_02 {
	grid-area: mi02;
	transition: 0.5s;
}
.micro_02:hover {
	transform: scale(1.1);
}
.micro_03 {
	grid-area: mi03;
	transition: 0.5s;
}
.micro_03:hover {
	transform: scale(1.1);
}
.micro_04 {
	grid-area: mi04;
	transition: 0.5s;
}
.micro_04:hover {
	transform: scale(1.1);
}
.micro_05{
	grid-area: mi05;
	transition: 0.5s;
}
.micro_05:hover {
	transform: scale(1.1);
}
.micro_06 {
	grid-area: mi06;
	transition: 0.5s;
}
.micro_06:hover {
	transform: scale(1.1);
}
.micro_07 {
	grid-area: mi07;
	transition: 0.5s;
}
.micro_07:hover {
	transform: scale(1.1);
}
.micro_08 {
	grid-area: mi08;
	transition: 0.5s;
}
.micro_08:hover {
	transform: scale(1.1);
}
.wrapper {
	min-height: 100%;
}
.content {
	padding-bottom: 50px;
}
.footer {
	height: 50px;
	margin-top: 50px;
}
body {
	text-align: center;
	color: white;
}