.container {  display: grid;
  grid-template-columns: 500px 500px 500px;
  grid-template-rows: 700px 700px 700px;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "one one one"
    "two two two"
    "three three three";
}

.one { grid-area: one;
  border: 1px solid white;
  margin: 20px;
}

.two { grid-area: two;
  border: 1px solid white;
  margin: 20px;
}

.three { grid-area: three;
  border: 1px solid white;
  margin: 20px;
}
h1 {
  text-align: center;
}
body {
  background-color: black;
  color: white;
  text-align: center;
}
ul {
  text-align: center;
  list-style: inside;
}

@media only screen and (max-width: 900px) {
  .container {
    grid-template-columns: auto;
    grid-template-areas: 
    "one one one"
    "two two two"
    "three three three";
  }
}
@media only screen and (min-width: 900px) {
  .container {
    grid-template-columns: auto;
    grid-template-areas: 
    "one one one"
    "two two two"
    "three three three";
  }
}
